[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[credential]
  helper = osxkeychain
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[init]
  defaultBranch = main
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  prune = true
  pruneTags = false
  all = true
[help]
  autocorrect = prompt
[commit]
  verbose = true
[rerere]
  enabled = true
  autoupdate = true
[core]
  editor = nvim
  excludesfile = ~/.gitignore
[alias]
  aicommit = "!f() { COMMITMSG=$(codex exec -m gpt-5.3-codex 'Generate ONLY a one-line Git commit message in English, using imperative mood, summarizing what was changed and why, based strictly on the contents of `git diff --cached`. Make sure the title has maximum 50 characters. Do not add explanation or a body. Output only the commit summary line.'); git commit -m \"$COMMITMSG\" -e; }; f"
